/* Normalize styles for better cross-browser consistency */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body, html {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 10; 
    text-align: center;
    padding: 400px;
    color: rgb(75, 174, 255);
}

h1 {
    font-size: 3em;
    margin: 0;
    color: white
}

h1 span {
    color: rgb(75, 174, 255);
}

p {
    font-size: 1.5em;
    color: white
}

p span {
    color: rgb(75, 174, 255);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background: transparent;
    border: 2px solid rgb(75, 174, 255);
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: rgb(75, 174, 255);
    color: white;
}

#about, #projects {
    padding: 60px 20px;
    background-color: #111;
    z-index: 10; 
    position: relative; 
}

#about h2, #projects h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
}

#about h2::after, #projects h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: rgb(75, 174, 255);
    margin: 10px auto 0;
    border-radius: 2px;
}

.about-content, .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-text, .project-details {
    max-width: 500px;
    margin: 20px;
    text-align: center;
    margin-bottom: 40px; 
    padding: 20px; 
    border: 2px solid transparent; 
    border-radius: 10px; 
    transition: border 0.3s; 
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    justify-items: center;
    padding-top: 40px; 
}

.skill {
    background: #222;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: border 0.3s;
}

.skill img {
    max-width: 50px;
    margin-bottom: 10px;
}

.skill p {
    margin: 0;
    font-size: 1em;
}

.skill:hover {
    border-color: rgb(75, 174, 255);
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.project img {
    max-width: 40
}
